section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    background-image: url("../img/foto.jpeg");
    background-size:cover ;
    padding-top: 100px;
    justify-content: center;
    
}

section .cont-botones{
    width: 40%;
    padding: 20px;
    border: 2px solid #fff;
    text-align: center;
    height: 500px;
    backdrop-filter: blur(5px);
    border-radius: 20px;
   
}
section .cont-botones h2{
    color: rgb(29, 28, 28);
    font-size: 50px;
    margin-bottom: 40px;
}
section .cont-botones button{
    padding: 10px 40px;
    border-radius: 4px;
   color: #fff;
    background: #000;
    margin: 12px;
    border: 2px solid #fff;
}

section .cont-figura{
    width: 40%;
    height: 500px;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(5px);
    border: 2px solid #fff;

}

section .cont-figura h2{
    color: #1d1c1c;
    font-size: 50px;

}

#figura{
width: 200px;
height: 200px;
background: #c98c30;
margin: 20px auto;
border:2px solid #000;
}

#figura.circulo{
    border-radius: 40%;
    transition: .5s;
    transform: rotate(-360deg);
}

#figura.rectangulo{
    width: 300px;
    transition: .4s;
}

#figura.Left{
    transform: translateX(-200px);
    transition: .5s;
}

#figura.topmove{
    transform: translateY(-200px);
    transition: .5s;
}

#figura.Right{
transform: translateX(200px);
transition: .5s;

}


#figura.Bottom{
    transform: translateY(200px);
    transition: .5s;
}

#figura.diagonal{
    transform: translate(-200px,200px);
    transition: .5s;
}

#figura.imagen{
   background-image: url("../img/ojitos.jpeg");
}

#figura.rombo{
    transform: rotate(45deg);
    transition: .5s;
}



